<!DOCTYPE html>
<html>
  <head>
    <title>SampleUnchi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <div class="header-logo">
        <%= link_to("ノート","/",class:"link") %>
      </div>
      <ul class="header-menus">

      <li>
        <%= link_to("管理画面","/admin",class:"link") %>
      </li>

      <% if @current_user %>
        <li>
          <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("投稿","/posts/index",class:"link") %>
        </li>
        <li>
          <%= link_to("一覧(仮)","/users/index",class:"link") %>
        </li>
        <li>
          <%= link_to("ログアウト","/logout", {method: "post"}) %>
        </li>
        <% else %>
        <li>
          <%= link_to("一覧(仮)","/users/index",class:"link") %>
        </li>
        <li>
          <%= link_to("新規登録","/signup",class:"link") %>
        </li>
        <li>
          <%= link_to("ログイン","/login",class:"link") %>
        </li>
        <% end %>
      </ul>
    </header>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
    ©BANDAI NAMCO Entertainment Inc.
    </footer>
  </body>


</html>
